<% set = @set %>

<div class="set-wrapper" data-id="<%= set.redis_id %>">
	<div class="view-container">
		<div class="top-row">
			<div class="delete">delete</div>
			<div class="reload">reload</div>
			FileName: <%= set.stats['filename'] %>
		</div>
		
		<div class="inner">
			<div class="addr-count">
				Total Addresses: <%= set.count %>
			</div>
			<div class="addr-uniq-count">
				Unique: <%= set.count_unique_occurences.count %>
			</div>
			<div class="malformed-count">
				Malformed Rows: TBA
			</div>
		</div>

		<div class="bottom-row">
			<div class="btn disabled">API</div>
			<div class="btn">Export</div>
			<div class="btn btn-info dragger"><i class="icon-hand-up"></i></div>
			<div class="btn">Gazetteer</div>
		</div>
	</div>
</div>