<div class="addr_set_wrapper">
	<h5><%#= set.inspect %></h5>
	<% set.each do |addr| %>
		<li>street: <%= addr[:street] %></li>
		<li>number: <%= addr[:number] %></li>
		<li>state: <%= addr[:state] %></li>		

	<% end %>
</div>