<h1>Normalize here:</h1>

<%= erb :_file_upload %>

<div class="address-sets-container">
	<% @sets.each do |set| %>
            <!-- TODO why the @set = set -->
		<% @set = set %>
		<%= erb :"AddressSet/_widget" %>
	<% end %>
</div>
