<h1>Normalize here:</h1>

<%= erb :_file_upload %>

<div class="address-sets-container">
	<% @sets.each do |set| %>
	<!-- ADDRESS SET VIEW -->
	<% @set = set %>
	<%= erb :_AddressSet_view %>
	<!-- END -->
	<% end %>

</div>