<h1>Normalize here:</h1>

<%= erb :_file_upload %>

<form action="/address_set/new" method="POST">
	<input type="submit" value="create new tester">

</form>

<% @@sets.each do |set| %>
	<%= erb :_AddressSet_view %>
<% end %>