  <div class="modal" id="address-set-progress-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Processing your data</h4>
        </div>
        <div class="modal-body">
          This could take up to a few minutes
          <!-- Progress Bar -->
          <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 1%"></div>
          </div>

          <div class="row-count">
            <i class="icon-spinner icon-spin icon-large"></i>
            <div class="current-row"></div> <div class="total-rows"></div>
          </div>

        </div>
        <div class="modal-footer">
          <!-- <a href="#" class="btn">Cancel</a> -->
        </div>
      </div>
    </div>
  </div>
