<div class="row well">
  <div class="span6">
    <%#= render 'address_sets/stats' %>
  </div>
</div>


<div class="exporter-wrapper" data-id="<%= @set.id %>">
  <%= render 'address_sets/exporter/default' %>
</div>
