<div id="footer" class="row">
  <div class="span12 content">
    <div class="shoutout">
      Made at <%= link_to('Code For America', 'http://www.codeforamerica.org') %> in conjunction with <%= link_to('Google Summer of Code', 'http://www.google.com') %>!
    </div>

    <%= link_to image_tag("cfa_logo.png", width: 90), 'http://www.codeforamerica.org' %>
    <%= link_to image_tag("soc-logo-bw2.jpg", width: 90), 'https://developers.google.com/open-source/soc/' %>
  </div>
</div>
