<div class="navbar">
  <div class="navbar-inner">
    <a href="/" class="brand">
      <i class="icon-th-large"></i>
      Address Normalizer
    </a>

    <% if false %>
    <div class="user-info pull-right">
      <% if true %>
        Hello, <%#= session[:username] %>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
    </div>
    <% end %>


  </div>
</div>
