<div class="row instructions-wrapper">
  <div class="span10 offset2">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">About this project</div>
      </div>

      <div class="row">
        <div class="span7 offset1">
          <h3>The goal</h3>
          Address normalization is incredibly important and valuable to many organizations. Currently, there are few open source solutions. This is a first attempt at gaining some momentum.
        </div>
      </div>

      <div class="row">
        <div class="span7 offset1">
          <h3>CodeForAmerica + Google Summer of Code</h3>
          This project started as a Google Summer of Code project in the summer of 2013, under direct supervision of CodeForAmerica.

          <div class="video" style='text-align: center; margin-top: 20px;'>
            <iframe width="500" height="320" src="http://www.youtube.com/embed/hVw- JiDmfj0?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row instructions-wrapper">
  <div class="span10 offset2">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">Developers</div>
      </div>

      <div class="row">
        <div class="span7 offset1">
          <h3 id="mikeholubowski">Mike Holubowski <small><i class="icon-envelope-alt"></i>MikeH@codeforamerica.org</small></h3>
          Mike loves surfing, learning, and normalizing addresses with his friends.
          <div class="pictures-and-social">
            <div class="picture-wrapper">
              <img class='thumbnail' src="http://www.gravatar.com/avatar/76743e4c14368f817ea4fff3c7e72b34.png?s=200" alt="Mike Holubowski">
            </div>

            <div class="social-wrapper">
              <div class="social-icon">
                <a href="http://www.github.com/mholubowski"><i class="icon-github"></i></a>
              </div>
            </div>

            <div class="social-wrapper">
              <div class="social-icon" style="position: relative; bottom: 90px;">
                <a href="http://www.linkedin.com/mikeholubowski"><i class="icon-linkedin"></i></a>
              </div>
            </div>

            <div class="social-wrapper">
              <div class="social-icon">
                <a href="http://www.twitter.com/mholubowski"><i class="icon-twitter"></i></a>
              </div>
            </div>
            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

