<div class="row welcome-screen">
  <div class="span12 hero-unit">
  <div class="slogan">Free, <%= link_to 'open-source', 'https://github.com/mholubowski/address-normalizer' %> Address Normalization</div>

  <div class="intro-btns">
    <%= link_to 'Normalize', new_uploaded_file_path, class: 'btn btn-info btn-large' %>
    <%= link_to 'Help', welcome_help_path, class: 'btn btn-large btn-success' %>
    
  </div>

  </div>
</div>


