.address-sets-container {

}

.set-wrapper {
	display: inline-block;
	width: 400px;
	padding: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	box-shadow: 1px 1px 4px #555;
	border-radius: 2px;

	.top-row {
		border-bottom: 1px solid #ccc;
		padding: 3px;

		.delete, .reload {
			color: red;
			float: right;
			&:hover {
				cursor: hand;
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}

	.middle {
		height: 60px;
	}

	.bottom-row {
		padding: 3px;
	}

	.export-wrapper, .verify-wrapper {
		margin-top: 8px;
		padding: 4px;
		box-shadow: inset 1px 1px 1px #ccc;
		.btn {
			padding: 3px;
			border-radius: 2px;
		}
	}
}

.full-modal {
width: 100%;
left: 0;
margin-left: 0;
top: 0;
margin-top: 0!important;
height: 100%;
background-color: rgba(0, 0, 0, 0.51);
position: absolute;
 .inner {
 	position: absolute;
 	top: 400px;
 	background-color: white;
 }
}
