.login-wrapper{
	border: 1px solid #ddd;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #fff;
	box-shadow: 1px 1px 4px #777;

	.top-bar{
		// height: 2px;
		// background-color: #CA283A;
		border-bottom: 1px dotted #ddd;
		margin-bottom: 10px;
		color: #777;
	}
	.bottom-bar{

	}
}

.login-form{
	text-align: center;

	input[type=submit] {
		border: 5px solid white; 

		background-color: #6AB3DF;

		padding: 10px;
		// background: rgba(255,255,255,0.5);
		margin: 0 0 10px 0;

		margin-left: auto;
		margin-right: auto;
	}
}

