// Place all the styles related to the AddressSet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #show page


// Popup Modal which shows progress
#adress-set-progress-modal {
  display: none;
  // why the f*()k does this not work by default..
  .progress-bar {
    height: 100%;
    background-color: rgb(131, 198, 252);
  }

  .row-count {
    text-align: center;
    font-size: 24px;
    .current-row, .total-rows {
      display: inline-block;
    }
  }

}
