.exporter-wrapper {
  margin: 15px;
  padding: 5px;
  border: 1px solid #ccc;
}

.exporter-preview-table-wrapper {
  max-width: 980px;
  overflow-x: auto;
  box-shadow: inset 0px 0px 6px 2px #ccc;
  margin: 0 0px 20px 0px;
  padding: 10px 10px;

  table {
    thead tr:first-child {
      background-color: #f2f2f2
    }
  }
}
