#footer {
  height: 200px;
  background-color: #2f2f2f;
  box-shadow: inset 1px 1px 2px 6px rgba(44, 44, 44, 0.14);
  border-top: 1px solid #bbb;
  
  .content {
    text-align: center;
    color: #ddd;
  }
}
