// Place all the styles related to the UploadedFiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$sexyGreen: #DAFFDB;
// TODO Move these:
.color-orange {
  color: orange;
}
.color-green {
  color: green;
}
.color-red {
  color: red;
}

// ---------- UploadedFiles#new ---------
.new-uploaded-file {
  .hero-unit {
    text-align: center;
  }
}

.upload-file-form {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 10px;
  display: inline-block;
  box-shadow: inset 0px 0px 5px $sexyGreen;
  border: 1px solid #E7E7E7;

  &.invalid {
    box-shadow: inset 0px 0px 5px red;
  }
  &.valid {
    box-shadow: inset 0px 0px 5px #62F566;
  }

  .error-wrapper {
    font-size: 14px;
    color: red;
  }
}



// ---------- UploadedFiles#Edit ---------
.instruction {
  padding: 30px;
  font-size: 20px;
  line-height: 23px;
}

.attention-arrow {
  position: relative; 
  top: 45px;
  float: left;
  padding: 5px;
  i {
    float: right;
  }
}

.step-header {
  font-size: 24px;
  small {
    font-size: 70%;
    color: #666;
  }
}

.row.selector-table {
  padding: 20px 10px;
}

#column-selector-table {
  max-width: 980px;
  max-height: 300px;
  overflow-x: auto;
  background-color: #fff;
  box-shadow: inset 0px 0px 6px 2px #ccc;
  margin: 0 0px 20px 0px;
  padding: 10px 10px;
  th {
    background-color: #f2f2f2;
    &.active {
      background-color: $sexyGreen;
    }
    &:hover {
      background-color: lighten($sexyGreen, 15%);
      cursor: hand;
      cursor: pointer;
    }
    &:active {
      background-color: $sexyGreen;
    }
  }
}

.proceed-btn {
  text-align: center;
  display: none;
}

#wizard-container {
  height: 80px;
  
  .step-content {
    border-right: 1px dashed #ccc;
  }

  .examples {
  }
}

#response-tracker {

  .header {
    text-align: center;
    font-size: 16px;
  }
  .container {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
  }
}
