// Place all the styles related to the UploadedFiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$sexyGreen: #DAFFDB;
// TODO Move these:
.color-orange {
  color: orange;
}
.color-green {
  color: green;
}
.color-red {
  color: red;
}

.instruction {
  padding: 30px;
  font-size: 20px;
}

.attention-arrow {
  float: left;
  padding: 5px;
}

.step-header {
  font-size: 24px;
}

#column-selector-table {
  max-width: 100%;
  overflow-x: scroll;
  box-shadow: inset 0px 0px 14px 4px #ccc;
  margin: 0 0px 20px 0px;
  th {
    background-color: #ccc;
    &.active {
      background-color: $sexyGreen;
    }
    &:hover {
      background-color: lighten($sexyGreen, 15%);
      cursor: hand;
      cursor: pointer;
    }
    &:active {
      background-color: $sexyGreen;
    }
  }
}

.proceed-btn {
  text-align: center;
  display: none;
}
